{% extends 'base.html' %}
{% block btn %}
<div class="row pb-3 pt-2">
    <button onclick="window.location.href='{{url_for('index') }}';" class="btn btn-primary btn-lg btn-block"><i
            class="fa fa-home"></i> Home
    </button>
    <br/>
</div>
{% endblock %}

{% block col1 %}
<h4>Available Gestures</h4>
<!--    Click this button to start the gesture recording for the selected radio button-->
<div class="row px-1">
    <button id="recordStart" type="button" onclick="changeImageURL()" class="btn btn-primary btn-lg btn-block btn-color"
            disabled>Start Recording
    </button>
</div>
<br/>
<form id="gestures">
    {% for k,v in gestures.items() %}
    <div class="d-flex align-items-center">
        <input type="radio" name="selectGesture" id="radio_{{ k | lower | replace(' ', '_') }}" value="{{ k }}">
        <label style="margin-left: 5px" for="radio_{{ k | lower | replace(' ', '_') }}">{{ v[1] }}</label>
        <img class="ms-auto" src="{{ v[0] }}" style="max-height: 50px;">
    </div>
    {% endfor %}
    <div class="d-flex align-items-center">
        <input type="radio" name="selectGesture" id="radio_custom" value="custom">
        <input type="text" id="custom_gesture" name="custom_gesture" style="margin-left: 5px">
    </div>
</form>
{% endblock %}

{% block col2 %}
<h4> Input </h4>
<div class="row px-2">
    <div class="progress my-2">
        <div class="progress-bar progress-bar-striped bg-warning w-0" role="progressbar" aria-valuenow=""
             aria-valuemin="0" aria-valuemax="100">0%
        </div>
    </div>
</div>
<div class="row">
    <img src="static/img/hand_gestures.jpg" id="vid_display" width="100%" height="auto"/>
</div>
<div class="btn-group special py-3" style="width:100%">
    <button type="button" onclick="clickRecord()" class="btn btn-primary btn-color">Record</button>
    <button type="button" onclick="clickNext()" class="btn btn-primary btn-color">Next</button>
    <button type="button" onclick="clickRedo()" class="btn btn-primary btn-color">Redo</button>
</div>
{% endblock %}
{% block script %}
<script>
    function changeImageURL() {
        var image = document.getElementById('vid_display');
        gesture_selected = $("input[type='radio'][name='selectGesture']:checked").val();

        if (gesture_selected === "custom") {
            gesture_selected = $("input[type='text'][name='custom_gesture']").val();
        }

        url = "{{ url_for('record_gesture.video_feed', gesture_name='gesture_selected') }}";
        new_url = url.replace(/gesture_selected/, gesture_selected);
        console.log(new_url);

        image.src = new_url;
    }

    function callModelGeneration() {
        // {{url_for('record_gesture.generate_model')}}
        $('.spinner-grow').show();

        var xhr = new XMLHttpRequest();
        xhr.open("GET", "{{url_for('record_gesture.generate_model')}}", true);
        xhr.onload = function (e) {
            if (xhr.readyState === 4) {
                    $('.spinner-grow').hide();
                    window.location.reload();
            }
        };
        xhr.send();
    }
</script>
{% endblock %}
{% block col3 %}
<h4> Generate Model </h4>
<div class="row pb-3 px-1">
    <button class="btn btn-primary btn-lg btn-block btn-color" type="button"
            onclick="callModelGeneration();">
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
        Generate Model
    </button>
</div>
<div class="d-flex align-items-center row" id="generateModel">
    <p style="text-align:center;"><strong> Captured Data </strong>
    <p>
        {% for k, v in captures.items() %}
    <div>
        <img onclick="removeCapture('{{ k }}')" class="ms-auto del-arrow"
             src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Red_X.svg">
        {{ v[1] }}
        <img class="ms-auto" src="{{ v[0] }}" style="max-height: 50px;">
    </div>
    {% endfor %}
</div>
{% endblock %}

