<!DOCTYPE html>
<html lang="en">
<head>
<!-- The title when added to bookmarks and shown in the tab title -->
  <title>LumosNox Gesture Recognition</title>
  <meta charset="utf-8">

<!-- The width=device-width part sets the width of the page to follow the screen-width of the device (which will vary depending on the device).-->
<!-- The initial-scale=1.0 part sets the initial zoom level when the page is first loaded by the browser.-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- To enable using CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- To enable using jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Calling bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
  <style>
    body {background-color:   #a9cce3;}
    h1 {color: black;}
    h3 {color: grey;}
    h4 {text-align: center;}
    h4 {color: grey;}
    p {color: black;}
    img {height: auto;}
    img {width:100%;}
    img {object-fit:contain;}
  </style>

</head>
<body>
<!--
* Bootstrap requires a containing element to wrap site contents.
* Containers are used to pad the content inside of them, and there are two container classes available:
	  * The .container class provides a responsive fixed width container (We define a specific fixed size)
    * The .container-fluid class provides a full width container, spanning the entire width of the viewport
-->
<div class="container-fluid">
  <h1>LumosNox</h1>
  <h3>Gesture Recognition & Mapping Application</h3>
  <div class="row">
    <button type="button" class="btn btn-success btn-lg btn-block">Start Application</button>
  </div>
  <div class="row" > <br></br>  </div>

  <div class="row row-height", style="height:100vh;">
  <!--<div class="row flex-fill" style="min-height:0; max-height:150px;">-->
    <!---************************ First Column ************************-->
    <div class="col-sm-3" style="background-color:#d4e6f1; overflow-y: scroll; height: 100%;" >
      <h4>Captured Gestures</h4>
      <div class="row" id="myGestures" > </div>
      <div class="row" > <br></br>  </div>
      <div class="row">
        <button type="button" class="btn btn-primary btn-lg btn-block">Add Gesture</button>
      </div>
    </div>
    <!---Read available gestures from json file and show them along with the GIFs-->
    <script>
        fetch("./static/js/captured_gestures.json")
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
              console.log("DATA", data)
                appendData(data);
            })
            .catch(function (err) {
                console.log('error: ' + err);
            });
        function appendData(data) {
            var mainContainer = document.getElementById("myGestures");
            var keys = Object.keys(data);
            let string_radio_prefix = "radio_";
            for (let i = 0; i < keys.length; i++) {
              var div = document.createElement("div");
              var image = document.createElement("img");
              var radiobox = document.createElement('input');
              var label = document.createElement('label');
              var newline = document.createElement('br');
              var description = document.createTextNode(keys[i]);
              label.appendChild(description);
              radiobox.type = 'radio';
              radiobox.name="selectGesture";
              radiobox.id = string_radio_prefix.concat(keys[i]);
              radiobox.value = keys[i];
              image.src = data[keys[i]];
              image.class = "img-fluid";
              image.style = "max-height:150px"
              div.appendChild(radiobox);
              div.appendChild(label);
              div.appendChild(image);
              div.appendChild(newline);
              mainContainer.appendChild(div);
            }
        }
    </script>
    <!---->
    <div class="col-sm-1" > </div>

    <!---************************ Second Column ************************-->
    <div class="col-sm-4" style="background-color:#d4e6f1;">
      <h4> Current Gesture Application Mapping </h4>
      <div class="row" id="gestureApplicationMapping" > </div>
      <div class="row" > <br></br>  </div>
      <div class="row">
        <button type="button" class="btn btn-primary btn-lg btn-block">Submit Mapping</button>
      </div>
    </div>
    <!---Read captured gestures from json file and show them-->
    <script>
        fetch("./static/js/gesture_application_mapping.json")
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
              console.log("DATA", data)
                gestureMap(data);
            })
            .catch(function (err) {
                console.log('error: ' + err);
            });
        function gestureMap(data) {
            var mainContainer = document.getElementById("gestureApplicationMapping");
            var keys = Object.keys(data);
            for (let i = 0; i < keys.length; i++) {
              var div = document.createElement("div");
              var newline = document.createElement('br');
              let text = keys[i] + " : " + data[keys[i]];
              div.innerHTML = text;
              div.appendChild(newline);
              mainContainer.appendChild(div);
            }
        }
    </script>
    <!---->

    <!---->
    <div class="col-sm-1" > </div>

    <!---************************ Third Column ************************-->
    <div class="col-sm-3" style="background-color:#d4e6f1; overflow-y: scroll; height: 100%;">
      <h4> Available Applications </h4>
      <div class="row" id="availableApplications" >
      </div>
    </div>
    <!---Read captured gestures from json file and show them-->
    <script>
        fetch('./static/js/available_applications.json')
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                getCapturedData(data);
            })
            .catch(function (err) {
                console.log('error: ' + err);
            });
        function getCapturedData(data) {
            var mainContainer = document.getElementById("availableApplications");
            var keys = Object.keys(data);
            let string_radio_prefix = "radio_";
            for (let i = 0; i < keys.length; i++) {
              var div = document.createElement("div");
              var image = document.createElement("img");
              var radiobox = document.createElement('input');
              var label = document.createElement('label');
              var newline = document.createElement('br');
              var description = document.createTextNode(keys[i]);
              label.appendChild(description);
              radiobox.type = 'radio';
              radiobox.name="selectApplication";
              radiobox.id = string_radio_prefix.concat(keys[i]);
              radiobox.value = keys[i];
              image.src = data[keys[i]];
              image.class = "img-fluid";
              image.style = "max-height:150px"
              div.appendChild(radiobox);
              div.appendChild(label);
              div.appendChild(image);
              div.appendChild(newline);
              mainContainer.appendChild(div);
            }
        }
    </script>


  </div>
  <div class="row" > <br></br></div>
</div>

</body>
</html>
