{% extends 'base.html' %}
{% block content %}
<div class="row">
    <form method="post" action="/">
    <button type="submit" class="btn btn-success btn-lg btn-block" value="start_app" >Start Application</button>
        <input type="submit" value="VALUE1" name="action1"/></form>
</div>
<div class="row"><br/></div>

<div class="row row-height" , style="height:100vh;">
    <!---************************ First Column ************************-->
    <div class="col-sm-3" style="background-color:#d4e6f1; overflow-y: scroll; height: 100%;">
        <h4>Captured Gestures</h4>
        <div class="row">
            <a href="{{url_for('add_gesture') }}">
                <button class="btn btn-primary btn-lg btn-block">Add Gesture</button>
            </a>
        </div>
        <br/>
        <div class="row" id="myGestures">
            {% for gesture, val in gestures.items() %}
            <div>
                <input type="radio" name="selectGesture" id="radio_{{ gesture | lower}}" value="{{ gesture }}">
                <label>{{ gesture }}</label>
                <img src='{{ val }}' style="max-height: 150px;">
                <br>
            </div>
            {% endfor %}
        </div>

        <div class="row"><br/></div>

    </div>
    <div class="col-sm-1"></div>

    <!---************************ Second Column ************************-->
    <div class="col-sm-4" style="background-color:#d4e6f1;">
        <h4> Current Gesture Application Mapping </h4>
        <div class="row">
            <button type="button" class="btn btn-primary btn-lg btn-block">Submit Mapping</button>
        </div>
        <br/>
        <div class="row" id="gestureApplicationMapping">
            {% for k, v in mappings.items() %}
            <div>{{ k }} : {{ v }}<br></div>
            {% endfor %}
        </div>

        <div class="row"><br/></div>

    </div>

    <div class="col-sm-1"></div>

    <!---************************ Third Column ************************-->
    <div class="col-sm-3" style="background-color:#d4e6f1; overflow-y: scroll; height: 100%;">
        <h4> Available Applications </h4>
        <div class="row">
            <button type="button" class="btn btn-primary btn-lg btn-block" disabled>Add Application</button>
        </div>
        <br/>
        <div class="row" id="availableApplications">
            {% for k, v in apps.items() %}
            <div>
                <input type="radio" name="selectApplication" id="radio_{{ k | lower }}" value="{{ k }}">
                <label>{{ k }}</label>
                <img src="{{ v }}" style="max-height: 150px;">
                <br>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
<div class="row"><br/></div>
{% endblock %}
