{% extends 'base.html' %}

{% block btn %}
<div class="row pb-3 pt-2 mx-1" style="justify-content: center">
    <button type="button" class="btn btn-danger btn-lg btn-block rounded-pill" value="start_app" style="width: 150px"
            onclick="$.get('/start')">
        Start
        Application
    </button>
</div>
{% endblock %}

{% block col1 %}
<h4>Gestures</h4>
<br/>
<div class="row" id="myGestures">
    <form id="gestures" class="form-inner">
        {% for gesture, val in gestures.items() %}
        {% if val[2] %}
        <div class="d-flex align-items-center">
            <input type="radio" name="selectGesture" id="radio_{{ gesture | lower | replace(' ', '_') }}"
                   value="{{ gesture }}">
            <label style="margin-left: 5px" for="radio_{{ gesture | lower | replace(' ', '_') }}">{{ val[1] }}</label>
            <span class="material-icons-outlined md-36 ms-auto" data-bs-toggle="popover" data-bs-trigger="hover focus"
                  title="{{ val[1] }} Preview" data-bs-content="" data-bs-img="{{ val[0] }}">info</span>
            <!--            <img class="ms-auto" src='{{ val[0] }}' style="max-height: 48px;">-->
        </div>
        {% endif %}
        {% endfor %}
    </form>
</div>
<div class="row edgebtn" tabindex="0" data-bs-placement="top" data-toggle="tooltip" title="Add a new gesture">
    {% if session.username %}
    <a class="btn btn-primary btn-circle btn-xl" href="{{url_for('home_page.add_gesture') }}"
       role="button"><span class="material-icons-outlined md-36">add</span></a>
    {% else %}
    <a class="btn btn-primary btn-circle btn-xl disabled"
       href="{{url_for('home_page.add_gesture') }}"
       role="button"><span class="material-icons-outlined md-24">add</span></a>
    {% endif %}
</div>

<div class="row"><br/></div>
{% endblock %}

{% block col2 %}
<h4>Applications</h4>
<br/>
<div class="row" id="availableApplications">
    {% for k, v in apps.items() %}
    <div class="d-flex align-items-center">
        <input type="radio" name="selectApplication" id="radio_{{ k | lower | replace(' ', '_') }}" value="{{ k }}">
        <label style="margin-left: 5px" for="radio_{{ k | lower | replace(' ', '_') }}">{{ v[1] }}</label>
        <span class="material-icons-outlined md-36 ms-auto">{{ v[0] }}</span>
    </div>
    {% endfor %}
</div>
<!--<div class="row edgebtn">-->
<!--    <button type="button" class="btn btn-primary btn-lg btn-block btn-color" disabled>Add Application</button>-->
<!--</div>-->
{% endblock %}

{% block col3 %}
<h4>Mappings</h4>
<br/>
<div class="row" id="gestureApplicationMapping" style="text-align: center">
    {% for k, v in mappings.items() %}
    <div id="{{k}}">{{ v[0] }} <span class="material-icons md-18 mx-4">arrow_forward</span> {% for _, v1 in v[1].items()
        %} {{ v1 }} {% endfor %}<br></div>
    {% endfor %}
</div>
<div class="row edgebtn d-inline-block" tabindex="0" data-bs-placement="top" data-toggle="tooltip"
     title="Confirm gesture application mapping">
    <button id="mapBtn" type="button" class="btn btn-primary btn-circle btn-xl"
            onclick="addMapping()"
            disabled><span class="material-icons-outlined md-36">done</span>
    </button>
</div>
{% endblock %}

{% block script %}
<script>
    function addMapping() {
        gesture_selected = $("input[type='radio'][name='selectGesture']:checked").val();
        application_selected = $("input[type='radio'][name='selectApplication']:checked").val();

        var url = "{{ url_for('home_page.add_gesture_application_mapping') }}";
        var xhr = new XMLHttpRequest();
        xhr.open("POST", url);
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Content-Type", "application/json");

        var data = {
            "gesture_id": gesture_selected,
            "gesture_name": $("label[for='radio_" + gesture_selected + "']").text(),
            "app_id": application_selected,
            "app_name": $("label[for='radio_" + application_selected + "']").text()
        };

        xhr.onload = function (e) {
            if (xhr.readyState === 4) {  // DONE
                window.location.reload();
            }
        };

        xhr.send(JSON.stringify(data));
    }
</script>
{% endblock %}
