<!DOCTYPE html>
<html lang="en">
<head>
    <!-- The title when added to bookmarks and shown in the tab title -->
    <title>LumosNox Gesture Recognition</title>
    <meta charset="utf-8">

    <!-- The width=device-width part sets the width of the page to follow the screen-width of the device (which will vary depending on the device).-->
    <!-- The initial-scale=1.0 part sets the initial zoom level when the page is first loaded by the browser.-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- To enable using jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- To enable using CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined">
    <!-- Calling bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">

</head>
<body>

<div class="container-fluid" style="overflow-x: hidden">

    <div id="header" class="row">
        <div class="col-7">
            <h1><a href="/">GR&#xb2;AM<img class="logo" src="./static/img/lumos_nox.jpeg" alt="LumosNox"></a></h1>
            <span class="caption block">Gesture Recording, Recognition and Application Mapping</span>
        </div>
        <div class="col text-end mt-2">
            <div class="row-* pt-3 text-start">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for tag, message in messages %}
                {% if tag == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% else %} <!-- `tag` is default message -->
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    <hr class="mx-5">
    <div class="d-flex align-items-center justify-content-center px-3 gx-0" style="height: 400px">
        <form method="POST">
            <div class="form-group align-items-center">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp"
                       placeholder="Enter username" style="width: 350px">
                <small id="usernameHelp" class="form-text text-muted">Will be used to save your data</small>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </div>
        </form>
    </div>
</div>
</div>

<script src="./static/js/recordingHelper.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
{% block script %}{% endblock %}
</body>
</html>
