body {
    background-color: #a9cce3;
}

h1 {
    color: black;
}

h3 {
    color: grey;
}

h4 {
    text-align: center;
}

h4 {
    color: grey;
}

p {
    color: black;
}

img {
    height: auto;
}

img {
    width: 100%;
}

img {
    object-fit: contain;
}
